html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup,
 var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, summary, time, mark, audio, video
 { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
svg {
  stroke-width: 5;
  pointer-events: none;
  vertical-align: bottom;
}
.topbar {
  width: 100%;
  text-align: left;
  background-color: lightgrey;
  color: #444444;
  font-family: verdana;
  line-height: 20px;
  padding: 1px 0 1px 0;
  vertical-align: middle;
  display: table;
}
.logo {
  padding: 2px 2px 2px 4px;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.local-info {
  padding: 2px 4px 2px 0;
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
  float: right;
  vertical-align: middle;
}
.global-info {
  padding: 2px 4px 2px 0;
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
  float: right;
  vertical-align: middle;
}
.difference-info {
  padding: 2px 4px 2px 0;
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
  float: right;
  vertical-align: middle;
}
.scored {
  color: green;
  font-weight: bold;
}
.cardrow {
  width: 100%;
  margin: 0 0 0 0;
  padding: 2px 2px 2px 2px;
  white-space: nowrap;
}
.textcard {
  box-sizing: border-box;
  max-width: 24%;
  min-height:40px;
  width: 25%;
  height:100%;
  display: inline-block;
  border-radius: 6px;
  margin: 10px 10px 0 0px;
  padding: 0 0 0 0;
  font-size: 16px;
  line-height: 40px;
  font-family: verdana;
  text-align: center;
}
.card {
  display: inline-block;
  position: relative;
  width: 24%;
  overflow: hidden;
  text-align: center;
  border-radius: 2px;
}
@media (orientation: portrait) {
  .card {
    width: 33%;
  }
}
.intro-card {
  display: inline-block;
  position: relative;
  width: 24%;
  overflow: hidden;
  text-align: center;
  border-radius: 6px;
}
.svg-card {
  width:25%;
  height:25%;
}
.green-card {
  border: 3px solid gray;
}
.red-card {
  border: 3px solid gray;
}
.purple-card {
  border: 3px solid gray;
}
.selected {
  background-color: lightgrey;
}
.intro-selected {
  background-color: lightgrey;
}
.messages, .intromessages {
  background-color: lightgrey;
  color: darkred;
  border-radius: 6px;
  width:100%;
  text-align: center;
  margin: 40px auto;
}
.green {
  color: green;
}
.red {
  color: red;
}
.purple {
  color: purple;
}
.button-row {
  width: 100%;
  margin: 10px 0 0 0;
}
.button {
  display: inline-block;
  border: 2px solid grey;
  padding: 5px;
  border-radius: 6px;
}
.button.pressed {
  background-color: lightgrey;
}
.dark {
  background-color: black;
  color: grey;
}
.light {
  background-color: lightgrey;
  border: 2px solid lightgrey;
}
.modal {
    width: 90%;
    height: 95%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2%;
    margin-left: 5%;
    padding: 0px;
    display:none;
}
.modal-header .close {
  margin-top: 0;
}
.modal.fade {
  top: 5%;
}
.modal.fade.in {
  top: 0%;
}
.modal-title {
  color: #444444;
  font-family: verdana;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
.close {
  margin-top:0;
  font-size: 16px;
  line-height: 16px;
  vertical-align: middle;
}
.modal-body {
  color: #444444;
  font-family: verdana;
  max-height: 95%;
}
.modal-body li {
  margin-left: 28px;
}
