.body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.cardrow {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  white-space: nowrap;
}
.textcard {
  box-sizing: border-box;
  max-width: 24%;
  min-height:40px;
  width: 25%;
  height:100%;
  display: inline-block;
  border-radius: 6px;
  margin: 10px 10px 0 0px;
  padding: 0 0 0 0;
  font-size: 16px;
  line-height: 40px;
  font-family: verdana;
  text-align: center;
}
.card {
  box-sizing: border-box;
  max-width: 24%;
  width: 25%;
  height:100%;
  display: inline-block;
  border-radius: 6px;
  margin: 10px 10px 0 0px;
  padding: 0 0 0 0;
  text-align: center;
}
.green-card {
  border: 3px solid gray;
}
.red-card {
  border: 3px solid gray;
}
.purple-card {
  border: 3px solid gray;
}
.selected {
  background-color: lightblue;
}
.messages {
  background-color: lightgrey;
  color: darkred;
  border-radius: 6px;
  width:40%;
  text-align: center;
  margin: 40px auto;
}
.green {
  color: green;
}
.red {
  color: red;
}
.purple {
  color: purple;
}
svg {
  stroke-width: 5;
  pointer-events: none;
}
.button-row {
  width: 100%;
  margin: 10px 0 0 0;
}
.button {
  display: inline-block;
  border: 2px solid black;
  padding: 5px;
  border-radius: 6px;
}
.button.pressed {
  background-color: lightblue;
}
