html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup,
 var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, summary, time, mark, audio, video
 { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
svg {
  stroke-width: 5;
  pointer-events: none;
  vertical-align: bottom;
}
.topbar {
  width: 100%;
  text-align: left;
  background-color: lightblue;
  color: blue;
  font-family: verdana;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding: 1px 0 1px 0;
  vertical-align: middle;
  display: table;
}
.logo {
  display: inline-block;
  vertical-align: middle;
}
.navinfo {
  font-weight: normal;
  font-size: 14px;
  display: inline-block;
  float: right;
  vertical-align: middle;
}
.cardrow {
  width: 100%;
  margin: 0 0 0 0;
  padding: 2px 10px 2px 2px;
  white-space: nowrap;
}
.textcard {
  box-sizing: border-box;
  max-width: 24%;
  min-height:40px;
  width: 25%;
  height:100%;
  display: inline-block;
  border-radius: 6px;
  margin: 10px 10px 0 0px;
  padding: 0 0 0 0;
  font-size: 16px;
  line-height: 40px;
  font-family: verdana;
  text-align: center;
}
.card {
  display: inline-block;
  position: relative;
  width: 24%;
  overflow: hidden;
  text-align: center;
  border-radius: 6px;
}
.card2 {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 6px;
  margin: 10px 10px 0 0px;
  padding: 0 0 0 0;
  text-align: center;
}
.green-card {
  border: 3px solid gray;
}
.red-card {
  border: 3px solid gray;
}
.purple-card {
  border: 3px solid gray;
}
.selected {
  background-color: lightblue;
}
.messages {
  background-color: lightgrey;
  color: darkred;
  border-radius: 6px;
  width:40%;
  text-align: center;
  margin: 40px auto;
}
.green {
  color: green;
}
.red {
  color: red;
}
.purple {
  color: purple;
}
.button-row {
  width: 100%;
  margin: 10px 0 0 0;
}
.button {
  display: inline-block;
  border: 2px solid black;
  padding: 5px;
  border-radius: 6px;
}
.button.pressed {
  background-color: lightblue;
}
